.game-card {
  width: 20rem;
  padding: 1rem;
  margin: .1rem;
  border-style: solid;
  display: flex;
  flex-flow: column;
  justify-content: center
}

img {
  border-radius: 8px;
  padding: 1rem;
  width: 17rem;
}
